<div fxLayout="row" fxLayoutAlign="end center" >
  <button mat-raised-button color="primary" routerLink="/create">Create</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="cin">
    <th mat-header-cell *matHeaderCellDef> CIN </th>
    <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="cv">
    <th mat-header-cell *matHeaderCellDef> CV </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon aria-hidden="false" aria-label="Delete member" fontIcon="picture_as_pdf"></mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef> Created Date </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button routerLink="/{{element.id}}/edit">
        <mat-icon aria-hidden="false" aria-label="Edit member" fontIcon="edit"></mat-icon>
      </button>
      <button (click)="delete(element.id)">
        <mat-icon aria-hidden="false" aria-label="Delete member" fontIcon="delete"></mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
