<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card style="background-color: bisque;">
    <mat-card-title>Members</mat-card-title>
    <mat-card-subtitle>{{nb_members}}</mat-card-subtitle>
  </mat-card>

  <mat-card style="background-color: cadetblue;">
    <mat-card-title>Events</mat-card-title>
    <mat-card-subtitle>{{nb_events}}</mat-card-subtitle>
  </mat-card>

  <mat-card style="background-color: chocolate;">
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card>

  <mat-card style="background-color: thistle;">
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card>

  <mat-card style="background-color: teal;">
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" >
<div class="chart-wrapper">
  <canvas baseChart
          [type]="'pie'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    >
  </canvas>
</div>
<div class="chart-wrapper">
  <canvas baseChart
          [type]="'line'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    >
  </canvas>
</div>
</div>
